
{% extends "base.html" %}

{% block title %}Quiz{% endblock %}
 
{% block content %}
<div class="row justify-content-md-center">
 
    <div class="col-lg-8 col-lg-offset-2">
 <div class="card mt-3">
  {% if post.image %}
  <img src="..." class="card-img-top" alt="...">
        {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
     <p><span class="boldtext">Published on:</span> {{ post.created_date }} </p>
    <p class="card-text"><p>{{ post.post_content }}</p>
    
  </div>
   <div class="card-footer ">
   <p>
   
   <small class="text-muted"><span class="boldtext">Tag:</span> {{ post.tag }} <br>
    <span class="boldtext ">Views:</span> {{post.views}}
    </small><br>
    <a href="{% url 'posts' %}" class="btn btn-outline-dark m-2">Back to Blog</a>
                    <a href="{% url 'comment' %}" class="btn btn-outline-dark m-2">Comment</a>
    </p>
                    
  </div>
</div>

    </div>
</div>
<div class="row justify-content-md-center">
 
    <div class="col-lg-8 col-lg-offset-2">
{% for comment in comments %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{comment.created_date}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{comment.author}}</h6>
    <p class="card-text">{{comment.text}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endfor %}
    </div>
</div>
{% endblock %}
    