{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}Post{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div id="page-container" class="container">
<div class="row justify-content-md-center">
 
    <div class="col-lg-8 col-lg-offset-2">
 <div class="card mt-3 mb-2">
  {% if post.image %}
  <img src="{{ MEDIA_URL }}{{ post.image }}" class="card-img-top" style="" alt="...">
        {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
     <p><span class="boldtext">Published on:</span> {{ post.created_date }} </p>
    <p class="card-text"><p>{{ post.post_content }}</p>
    
  </div>
   <div class="card-footer ">
   <p>
   <small class="text-muted"><span class="boldtext">Tags:</span> {{ post.tag }} <br>
    <span class="boldtext ">Views:</span> {{post.views}}<br>
    </small><br>
   
    </p>
        <div class="accordion" id="accordionExample">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
      
      <a href="{% url 'blogposts' %}" class="btn btn-link btn-outline-dark m-2" role="button" aria-pressed="true">Back to Blog</a>
      
        <button class="btn btn-link collapsed btn-outline-dark m-2" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Comment
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <form method="POST">
            <div class="form-group">
              {{ form | as_bootstrap }}
              {% csrf_token %}
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
      </div>
    </div>
  </div>           
  </div>
</div>

    </div>
</div>


<div class="row justify-content-md-center">
 
    <div class="col-lg-8 col-lg-offset-2">
{% for comment in comments %}

<div class="card mb-2" >
  <div class="card-body justify-content-right" >
    <p class="card-text text-muted p-0">From: {{comment.author}} &nbsp; {{comment.created_date}}</p>
    <p class="card-text ">{{comment.text}}</p>
    <p>
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
    </p>
  </div>
</div>
{% endfor %}
    </div>
</div>
</div>
{% endblock %}
    