form {
    width: 50%;
}
body {
  background: rgb(195,235,255);
  background: -webkit-linear-gradient(to right,	rgb(195,235,255), rgb(91,150,180));
  background: linear-gradient(to right,	rgb(195,235,255), rgb(91,150,180));
  min-height: 100vh;
}

h1 {
    color: darkblue;
}

.card-img-top {
   width: 100%;
   height: 15vw;
   object-fit: cover;
}

.cart {
    display: flex; 
}