@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=MuseoModerno:wght@200;300;400;500&display=swap');

/* 

font-family: 'Crimson Text', serif;
font-family: 'MuseoModerno', cursive;
*/
#page-container {
  position: relative;
  min-height: 100vh;
}
 #content-wrap {
  padding-bottom: 2.5rem;  
}

.navbar {
font-family: 'MuseoModerno', cursive;
font-size: 20px;
font-weight: 500;
box-shadow: -2px 6px 9px 4px rgba(71,71,70,0.59);

}

.card {
font-family: 'Crimson Text', serif;
font-size: 17px;
box-shadow: -2px 6px 9px 4px rgba(71,71,70,0.59);
}

.navbar-brand {
 
font-size: 30px;
font-weight: 500;

}
form {
    width: 50%;
}
body {
  background: rgb(195,235,255);
  background: -webkit-linear-gradient(to right,	rgb(195,235,255), rgb(91,150,180));
  background: linear-gradient(to right,	rgb(195,235,255), rgb(91,150,180));
  
}

h1 {
    color: darkblue;
}

#footer {
  position: absolute;
  font-size: 15px;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
          
}
.course-content{
    margin-top: 20px;
    margin-bottom: 15px;
}

.jumbotron {
   
 margin-top: 15px;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card_course:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 0 #ccc;
}
.stretched-link{
text-decoration: none!important;
}

.active {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.btn-light {
    background-color: lightblue!important;
}

.form-control{
    list-style: none!important;
}