
{% extends "base.html" %}

{% block title %}{% endblock %}
 
{% block content %}
<div class="row justify-content-md-center">

    <div class="col-lg-8 col-lg-offset-2">
    
    <div class="card mt-3 card-quiz-answer">
  <h5 class="card-header">{{ quiz.name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ quiz.question}}</h5>
    <form method="POST"  >
      
    {% csrf_token %}
   
       <div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="{{quiz.option_one}}" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">{{quiz.option_one}}</label>
</div>
<div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="{{quiz.option_two}}" id="defaultCheck2" >
  <label class="form-check-label" for="defaultCheck2">
   {{quiz.option_two}}
  </label>
</div>
<div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="{{quiz.option_three}}" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
    {{quiz.option_three}}
  </label>
</div>
<div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="{{quiz.option_four}}" id="defaultCheck4" >
  <label class="form-check-label" for="defaultCheck4">
    {{quiz.option_four}}
  </label>
</div>
<button type="submit" data-target="" class="btn btn-light">Submit</button>
<div >
{% if messages %}

    <div>
      {% for message in messages %} {{ message }} {{ quiz.answer}} {% endfor %}
    </div>
    {% endif %}
</div>
</form>
 <div>
 {% if quiz.has_previous %}
      <a href="{% url 'answer' previousquestion.id %}" class="previous">&laquo; {{ previousquestion }}</a>
      {% else %}
       <a href="{% url 'quiz' %}" class="previous">&laquo; Quiz page</a>
       {% endif %}
       {% if nextquestion %}
<a href="{% url 'answer' nextquestion.id %}" class="next">{{ nextquestion }}&raquo;</a>
{% else %}
       <a href="{% url 'quiz' %}" class="previous"> Quiz page &raquo;</a>
       {% endif %}
</div>
</div>
</div>

{% endblock %}
