{% extends 'base.html' %}
 {% load static %}
{% block content %}
{% include 'navbar.html' %}
<di class="container">
<div class="row justify-content-md-center">

    <div class="col-lg-8 col-lg-offset-2">
    
    <div class="card mt-3 mb-3 card-quiz-answer">
  <h5 class="card-header">{{ quiz.name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ quiz.question}}</h5>
    <div class="form-check">
    <form method="POST">
      
    {% csrf_token %}
   
       <div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="checkboxvalue" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">{{quiz.option_one}}</label>
</div>
<div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="{{quiz.option_two}}" id="defaultCheck2" >
  <label class="form-check-label" for="defaultCheck2">
   {{quiz.option_two}}
  </label>
</div>
<div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="{{quiz.option_three}}" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
    {{quiz.option_three}}
  </label>
</div>
<div class="form-group form-check">
  <input class="form-check-input" type="checkbox" value="{{quiz.option_four}}" id="defaultCheck4" >
  <label class="form-check-label" for="defaultCheck4">
    {{quiz.option_four}}
  </label>
</div>
<button type="submit" data-target="" class="btn btn-light">Submit</button>
<div >
{% if messages %}

    <div>
      {% for message_quiz in messages %} {{ message_quiz }} {{ quiz.answer}} {% endfor %}
    </div>
    {% endif %}
</div>
</form>
    </div>
 <div class="pagination_answer mt-2">
 <nav aria-label="Page navigation ">
  <ul class="pagination">
   {% if previousquestion %}
  <li class="page-item">
 <a class="page-link" href="{% url 'answer' previousquestion.id %}">&laquo; {{ previousquestion }} prev</a>
    </li>
    
    {% else %}
    <li class="page-item"><a class="page-link" href="{% url 'quiz' %}">Main page</a></li>
     {% endif %}
       {% if nextquestion %}
    <li class="page-item"><a class="page-link" href="{% url 'answer' nextquestion.id %}">next {{ nextquestion }} &raquo;</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{% url 'quiz' %}">Main page</a></li>
     {% endif %}
    
  </ul>
</nav>
</div>
</div>
</div>
    </div></div>
{% endblock %}
