
{% extends "base.html" %}

{% block title %}Quiz{% endblock %}
 
{% block content %}
<div class="row justify-content-md-center">
 {% for quiz in quizes %}
    <div class="col-lg-8 col-lg-offset-2">
    <div class="card mt-3 card-quiz ">
  <h5 class="card-header">{{ quiz.name}}</h5>
  <div class="card-body">
    <h5 class="card-title justify-content-center">{{ quiz.question}}</h5>
    <p class="card-text"></p>
    <a class="stretched-link" href="{% url 'answer' quiz.id %}"></a>
  </div>
</div>
    </div>

{% endfor %}
  
</div>





<div class="pagination">
    <span class="step-links">
        {% if quizes.has_previous %}
            <a href="?page={{ quizes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ quizes.number }} of {{ quizes.paginator.num_pages }}.
        </span>

        {% if quizes.has_next %}
            <a href="?page={{ quizes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
