{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title%}Quiz{% endblock %}
{% block content %}
{% include 'navbar.html' with active_nav='quiz' %}
<div id="page-container" class="container">
	<div class="row justify-content-md-center">
		<div class="col-lg-8">
			{% if quizes.has_previous %}
			<div class="card mt-3 card-quiz">
				<div class="card-body">
					<p class="card-text mute text-center">
						<small>Quick Quiz for Open Water Divers & Scuba Divers </small> </p>

				</div>
			</div>
			{% else %}
			<div class="card mt-3 card-quiz">
				<div class="card-body">
					<p class="card-text mute text-center">
						<small>Quick Quiz for Open Water Divers & Scuba Divers <br>Choice an answer and press "Submit" to see the right one.</small>
					</p>

				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row justify-content-md-center">
		{% for quiz in quizes %}
		<div class="col-lg-8">
			<div class="card mt-3 card-quiz">
				<h5 class="card-header">{{ quiz.name}}</h5>
				<div class="card-body">
					<h6 class="card-title justify-content-center">{{ quiz.question}}</h6>
					<p class="card-text"></p>
					<a class="stretched-link" href="{% url 'answer' quiz.id %}"></a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col">
			<nav aria-label="Page navigation" class="pagination_quiz m-3">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						{% if quizes.has_previous %}

						<a class="page-link" href="?page={{ quizes.previous_page_number }}" tabindex="-1"
							aria-disabled="true">Previous</a>
						{% endif %}
					</li>
					<li class="page-item">
						<a class="page-link" href="#">
							Page {{ quizes.number }} of {{ quizes.paginator.num_pages }}.</a>
					</li>
					<li class="page-item">
						{% if quizes.has_next %}
						<a class="page-link" href="?page={{ quizes.next_page_number }}">Next</a>
						{% endif %}
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}