{% extends 'base.html' %}
{% block content %}
<div class="container">
  
  <div class="row">
  {% for course in courses %}
  <div class="xs-12 md-6">
  <div class="card" >
  <img src="url('{{ MEDIA_URL }}{{ course.image }}')" class="card-img-top" alt="...">
  </div>
</div>
<div class="xs-12 md-6">
<h5 >{{ course.name }}</h5>
<p >{{ course.description }}</p>
    <p>{{ course.price }}</p>
    <form method="post" action="{% url 'add_to_cart' activity.id %}">
    {% csrf_token %}
    <div class="input-group">
    <input name="quantity" type="number" min="1" max="10" class="form-control" placeholder="Quantity">
    <span class="input-group-btn">
    <button class="btn btn-success" type="submit">Add</button>
    </span>
    </div>
    </form>

</div>
<a href="{% url 'courses' %}" class="btn btn-primary">Back</a>
{% endfor %}
  </div>
</div>
{% endblock %}