{% extends 'base.html' %}  
{% load static from staticfiles %}
{% block page_title %}Courses{% endblock %} 
{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
<div id="page-container" class="container-fluid">
	<div class="row ">
		{% for course in courses %}
		<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
			<div class="card mt-3" id="course-card">
				<img src="{{ MEDIA_URL }}{{ course.image }}" class="card-img-top" alt="..."/>
				<a class="stretched-link" href="{% url 'course' course.id %}"></a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="card text-center">
		<div class="card-header">
		</div>
		<div class="card-body">
			<h5 class="card-title">Choose your diving course to begin with</h5> 
            <p class="card-text d-lg-none"> Take your first step . SSI Try Scuba program, Scuba Diver or Open Water Diver. </p>

            <h5 class="card-title d-lg-none">Continue your journey.</h5>
            <p class="card-text d-lg-none"> Choose from our Advanced courses. </p>
			<p class="card-text d-none d-lg-block">Becoming a scuba diver is the first step in a journey that will forever change the way you experience the world. You will explore the wonders of a weightless underwater world, interact with incredible marine life and discover ecosystems hidden beneath the surface.

Learning to dive is much easier than you think and the best way to experience this amazing new sport is the SSI Try Scuba program, Scuba Diver or Open Water Diver. The best part, your materials are FREE! The digital materials will help prepare you for this first taste of a great underwater experience.</p>
			<h5 class="card-title d-none d-lg-block">Earn your free recognition</h5>
            <p class="card-text d-none d-lg-block"> SSI’s advanced training programs are a menu of Specialties to prepare you for your next diving adventure! Specialty programs are a great way to improve your current skills and learn new ones. When you complete a certain number of logged dives and Specialty programs you will earn and automatically receive the recognition cards: Specialty Diver, Advanced Open Water Diver and Master Diver – one of the most elite ratings in diving today.</p>
            <p class="card-text"> Buy your course now and get <strong>Special online discount - 15%</strong></p>
            <p class="card-text d-none d-lg-block">For more questions just send us a mail.</p>
            <p class="card-text d-lg-none">Need to know more?</p>
            <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#userModal">Contac Us</a>
		</div>
	</div>
</div>
{% endblock %}