{% extends 'base.html' %}

{% block content %}

<div class="media">

  <img src="url('{{ MEDIA_URL }}{{ course.image }}')" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">{{ course.name }}</h5>
    <p>{{course.description}}Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p ><strong>{{ course.price }}</strong><i class="fas fa-euro-sign pl-1"></i></p>
    <!--<p>{{ course.online_offer_price }}</p>-->
    <form method="post" action="{% url 'add_to_cart' course.id %}">
    {% csrf_token %}
    <div class="input-group">
    <input name="quantity" type="number" min="1" max="10" class="form-control" placeholder="Quantity">
    <span class="input-group-btn">
    <button class="btn btn-success" type="submit">Add</button>
    </span>
    </div>
    </form>
  </div>
  
</div>
{% endblock %}