{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Home Page{% endblock %}
{% block content%}
{% include 'navbar.html' %}
{% include 'messages.html' %}
<div id="page-container" class="container-fluid">
	<div class="jumbotron bg-cover mt-3 text-white" style="background-image:url(../media/images/ssi_1.jpg) ">
		<h1 class="display-4">Let's Dive!</h1>

		<h2>Explore
			underwater world with us.</h2>
		<p class="lead">
        Welcome in our
        SSI Diving Center
		</p>
		<hr class="my-4">
		<h2>Get Certified</h2>
		<p>We believe that safety and customer service come first. Our team of multilingual instructors, divemasters, and volunteers work hard to make sure that all of our students and divers leave our school with a passion for diving.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>

	<div class="card-deck">
		<div class="card bg-light">

			<div class="card-body ">
				<h5 class="card-title">Do you want to get certified?</h5>
				<p class="card-text">With our professional and experienced instructors you can start your journey of
					becoming a scuba diver or continue your education.</p>
			</div>
			<div class="card-footer text-muted text-right">
				<a href="{% url 'courses' %}" class="card-link"><i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
		<div class="card bg-light">

			<div class="card-body">
				<h5 class="card-title">Welcome in our Blog</h5>
				<p class="card-text">In our blog you can find news, interesting articles, tips and information.</p>

			</div>
			<div class="card-footer text-muted text-right">
				<a href="{% url 'blogposts' %}" class="card-link"><i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
		<div class="card bg-light">

			<div class="card-body">
				<h5 class="card-title">Check yourself.</h5>
				<p class="card-text">Want to check or update your basic knowledge about diving? Take our Quick Quiz for
					Open Water Divers & Scuba Divers </p>

			</div>
			<div class="card-footer text-muted text-right">
				<a href="{% url 'quiz_page' %}" class="card-link"><i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>

	</div>
</div>
{% endblock %}