{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Home Page{% endblock %}
{% block content%}
{% include 'navbar.html' %}
{% include 'messages.html' %}
<div id="page-container" class="container-fluid">
	<div class="jumbotron bg-cover mt-3 text-white" style="background-image:url(../media/images/ssi_1.jpg) ">
		<h1 class="display-4 d-none d-lg-block">Let's Dive!</h1>
		<p class="lead d-none d-lg-block">
			Welcome in our
			SSI Diving Center <br>
        Explore
			underwater world with us.
		</p>
			<hr class="my-4">
			<h2 class="d-none d-lg-block">Get Certified</h2>
			<h3 class="d-lg-none">Let's Dive!</h3>
			<p class="lead">Buy our diving course online and get -15% off.</p>
			<p class="lead">Login or Register to make a purchase</p>
			<a class="btn btn-outline-light btn-sm" href="{% url 'login' %}" role="button">Login</a>
			<a class="btn btn-outline-light btn-sm" href="{% url 'registration' %}" role="button">Register</a>
	</div>

	<div class="card-deck">
		<div class="card bg-light">

			<div class="card-body ">
				<h5 class="card-title">Do you want to get certified?</h5>
				<p class="card-text">With our professional and experienced instructors you can start your journey of
					becoming a scuba diver or continue your education.</p>
			</div>
			<div class="card-footer text-muted text-right">
				<a href="{% url 'courses' %}"
					class="card-link"><i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
		<div class="card bg-light">

			<div class="card-body">
				<h5 class="card-title">Welcome in our Blog</h5>
				<p class="card-text">In our blog you can find news, interesting articles, tips and information.</p>

			</div>
			<div class="card-footer text-muted text-right">
				<a href="{% url 'blogposts' %}"
					class="card-link"><i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
		<div class="card bg-light">

			<div class="card-body">
				<h5 class="card-title">Check yourself.</h5>
				<p class="card-text">Want to check or update your basic knowledge about diving? Take our Quick Quiz for
					Open Water Divers & Scuba Divers </p>

			</div>
			<div class="card-footer text-muted text-right">
				<a href="{% url 'quiz_page' %}"
					class="card-link"><i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>

	</div>
</div>
{% endblock %}