{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}{{user}}'s Profile{% endblock %}
{% block page_heading %}{{user}}'s Profile{% endblock %}
{% block content%}
{% include 'navbar.html' %}
{% include 'messages.html' %}
<div id="page-container" class="container">
	<div class="row justify-content-md-center">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="card mt-3">
				<div class="card-header">
					Profile
				</div>
				<div class="card-body">
					<p>{{ profile.username }}</p>
					<p>{{ profile.email }}</p>
					<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
					<a href="{% url 'index' %}" class="btn btn-secondary btn-sm">Back</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}