<!-- Footer -->
<footer class="page-footer font-small indigo pt-4">
	<div class="container-fluid ">
		<div class="row">
			<div class="col-md-6 mt-md-0 mt-2 text-left">
				<h6>Adress</h6>
				<p>Dunat 70 50019 Krk Croatia</p>
				<p>Phone: +385 12 345 678</p>
			</div>
			<div class="col-md-6 mt-md-0 mt-2  text-right">
				<button type="button" class="btn text-uppercase btn-outline-secondary" data-toggle="modal" data-target="#userModal">
                Contact Us
               </button>
				<div class="footer-copyright pt-3 pb-2">© 2020 Copyright:
					Adriatic Diving
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->