{% load staticfiles %}
<!-- With quiz_page the same method to keep it active didn't work. Solution How to keep quiz_page active found here 
                    https://stackoverflow.com/questions/9793576/how-to-render-menu-with-one-active-item-with-dry-->

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <a class="navbar-brand" href="{% url 'index' %}"><img class="mr-2" src="{% static 'icons/wave.png' %}" width="50" height="50" alt="" loading="lazy"> Adriatic diving</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'index' %}active{% endif %}" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a  class="nav-item nav-link  {% if active_nav == 'courses' %}active{% endif %}" href="{% url 'courses' %}">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link {% if active_nav == 'quiz' %}active{% endif %}" href="{% url 'quiz' %}">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'blogposts' %}active{% endif %}" href="{% url 'blogposts' %}">Blog</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'logout' %}active{% endif %}" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'profile' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'registration' %}active{% endif %}" href="{% url 'registration' %}">Register</a>
      </li>
      {% endif %}
      {% if course_count > 0 %}
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'view_cart' %}active{% endif %}" href="{% url 'view_cart' %}">
						<i class="fas fa-shopping-cart pt-1"></i>
						<label class="badge badge-warning">{{ course_count }}</label>
					</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link  {% if active_nav == 'view_cart' %}active{% endif %}" href="{% url 'view_cart' %}">
						<i class="fas fa-shopping-cart pt-1"></i></a>
      </li>
      {% endif %}
    </ul>
    
  </div>
</nav>